body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    height: 100%;

}
img {
    height: auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 12vh
}

h2 {
    position: absolute;
    right: 0;

}
h3{
    text-align: center;
}
h4{
    margin-top: 5vh;
    margin-bottom: 5px;
}
